
 @import url('https://fonts.googleapis.com/css?family=Fira+Sans+Extra+Condensed');
/* *{
  border:1px solid white;
} */
body{
  background-image: url('../assets/bk.jpg');
}
#container{
  background-color: rgba(41, 114, 136, 0.3);
  background-repeat: repeat;
  max-width: 960px;
  display: block;
  margin:auto;
  color:white;
  font-family: 'Fira Sans Extra Condensed', sans-serif;
  font-size: 20px;
}
h2{
  text-align: center;
  margin-top:30px;
}
.answers{
  margin-top: -20px;
}
.answer {
  display:inline-block;
  margin-left: 5px;
  font-weight: bold;:
}
span{
  color:red;
}
#p15 {
  background-color: rgba(241, 233, 233, 0.5);
  margin:auto;
}
footer{
  background-color: rgba(23, 8, 53, 0.3);
  display: block;
  margin:auto;
  margin-left: 30px;
  font-size: 20px;
}
footer a{
  color: white;
  text-decoration: none;
  background-color: rgba(185, 138, 53, 0.3);
}
footer a:hover{
  background-color: rgba(185, 138, 53, 0.8);
}
